doctype html
html(lang="ko")
    head
        include partials/meta
        block head
            title= "HyPAI - GRIDONE"
    body 
        //- include partials/preloader

        // HEADER START ===========
        include partials/header

        // MAIN START ===========
        main
            block contents

        // FOOTER START ===========
        include partials/footer

        // SCRIPT START ===========
        include partials/default-script
