extends templates/base
include templates/mixins/items

block contents
    section#main.justify-content-lg-end
        .container
            span.display-4.fw-bold.text-white.text-center.my-2.d-block AI-OCR(TextExtractor)
            p.fs-5.text-white.text-center.opacity-50.d-none.d-lg-block 문서별로 최적화된 모델을 제공하여, 최고의 정확한 결과를 추출합니다.
            ul#demoTab.nav.nav-pills.mt-3.row.row-cols-2.row-cols-lg-4.text-center(
                role="tablist"
            )
                +patentTab("dococr-tab", "Document OCR", "dococr","col active text-white")
                +patentTab("buslic-tab", "사업자등록증", "buslic", "col text-white")
                +patentTab("family-tab", "가족관계증명서", "family", "col text-white")
                +patentTab("selfdoc-tab", "타자체 문서", "selfdoc", "col text-white")
            #demoTabContent.tab-content.mt-3
                +demoTabContent("dococr", "show active")
                +demoTabContent("buslic")
                +demoTabContent("family")
                +demoTabContent("selfdoc")
