extends templates/base
include templates/mixins/items

block contents
    section#main.position-relative
        +solutionItem("aida", "AIDA", "AI-Powered Document Automation",["AIDA(AI-Powered Document Automation)는 A2O 서비스를 이용한 정형 문서처리 프로그램으로,", "기존 AutomateOne 3에서 스크립트를 생성하여 하던 작업을 단순화 시킨 프로그램입니다."])
    section#spec.contents
        .container
            span.fs-1.fw-bold
                | 더 빠르게,&nbsp;
                br.d-block.d-lg-none
                | 더 정확하게,&nbsp;
                br.d-block.d-lg-none
                | 더 완벽하게.
            span.longLine.mt-2
            .row.row-cols-2.row-cols-lg-3.g-4.mt-4
                +iconCardItem("image", "최고의 정형 문서 처리 프로그램", ["나는 가을로 멀리 이름과, 프랑시스 옥 별 있습니다.", "우는 밤이 이름을 토끼, 가을로 어머님, 새워 겨울이 내 거외다.", "나는 이웃 이름을 무덤 그리워 라이너 까닭입니다.", "속의 불러 토끼, 계집애들의 이름과, 이름과, 된 거외다."])
                +iconCardItem("image", "스크립트 작업 단순화", ["나는 가을로 멀리 이름과, 프랑시스 옥 별 있습니다.", "우는 밤이 이름을 토끼, 가을로 어머님, 새워 겨울이 내 거외다.", "나는 이웃 이름을 무덤 그리워 라이너 까닭입니다.", "속의 불러 토끼, 계집애들의 이름과, 이름과, 된 거외다."])
                +iconCardItem("image", "각 페이지를 한번에 처리", ["나는 가을로 멀리 이름과, 프랑시스 옥 별 있습니다.", "우는 밤이 이름을 토끼, 가을로 어머님, 새워 겨울이 내 거외다.", "나는 이웃 이름을 무덤 그리워 라이너 까닭입니다.", "속의 불러 토끼, 계집애들의 이름과, 이름과, 된 거외다."])
                +iconCardItem("image", "자체 전처리 모듈 탑재", ["나는 가을로 멀리 이름과, 프랑시스 옥 별 있습니다.", "우는 밤이 이름을 토끼, 가을로 어머님, 새워 겨울이 내 거외다.", "나는 이웃 이름을 무덤 그리워 라이너 까닭입니다.", "속의 불러 토끼, 계집애들의 이름과, 이름과, 된 거외다."])
                +iconCardItem("image", "아이템 별 후처리 가능", ["나는 가을로 멀리 이름과, 프랑시스 옥 별 있습니다.", "우는 밤이 이름을 토끼, 가을로 어머님, 새워 겨울이 내 거외다.", "나는 이웃 이름을 무덤 그리워 라이너 까닭입니다.", "속의 불러 토끼, 계집애들의 이름과, 이름과, 된 거외다."])
                +iconCardItem("image", "다양한 형식으로 결과 저장", ["나는 가을로 멀리 이름과, 프랑시스 옥 별 있습니다.", "우는 밤이 이름을 토끼, 가을로 어머님, 새워 겨울이 내 거외다.", "나는 이웃 이름을 무덤 그리워 라이너 까닭입니다.", "속의 불러 토끼, 계집애들의 이름과, 이름과, 된 거외다."])
    section#services.contents.bg-light
        .container
            span.fs-1.fw-bold AIDA만의 독창적인 워크플로우
            span.longLine.mt-2.mb-4
            +responseImage("svg", "workflow")
