extends templates/base
include templates/mixins/items

block contents
    section#main.position-relative
        +solutionItem("aida", "AIDA", "AI-Powered Document Automation",["AIDA(AI-Powered Document Automation)는 A2O 서비스를 이용한 정형 문서처리 프로그램으로,", "기존 AutomateOne 3에서 스크립트를 생성하여 하던 작업을 단순화 시킨 프로그램입니다."])
