// scroll
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    -ms-overflow-style: none; // IE, Edge
    scrollbar-width: none; // Firefox
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    &::-webkit-scrollbar {
        display: none; // Chrome , Safari , Opera
    }
}

.vsc-controller {
    display: none;
}

a,
a:hover,
a:active {
    text-decoration: none !important;
    color: inherit;
}

// sections
.contents {
    padding: 4rem 0;
}

// svgs

.artwork,
[class^="artwork"] {
    max-width: 100%;
}

.artwork {
    max-height: 20rem;
}

.artwork-md {
    max-height: 15rem;
}

.artwork-sm {
    max-height: 10rem;
}

// attachment

.attach-link {
    text-decoration: none;
    color: inherit !important;
    &::before {
        content: "\F30A";
        position: relative;
        font-family: "bootstrap-icons";
        padding-right: $spacer * 0.5;
        font-size: 0.8rem;
    }
    &:hover {
        text-decoration: underline !important;
    }
}


// transition

.up-down {
    animation: up-down 1s ease-in-out alternate infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0.5rem);
    }
}

.rarr {
    position: relative;
    padding-right: $spacer!important;
    line-height: 1;
    &::after {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        content: "\2192";
        transition: transform 0.5s ease, opacity 0.5s ease;
        line-height: inherit;
    }
    &:hover::after {
        transform: translate(-75%, -50%);
        opacity: 75%;
    }
}

a.scrollNext {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0.5rem);
    opacity: 0.75;
}

// logo

.logo-white {
    [class^=cls] {
        fill: #ffffff;
    }
}

.logo-sm {
    width: 6rem;
}

.solution-logo {
    width: auto;
    height: 2.25rem;
}

.btn-icons img{
    width: 1.5rem;
    height: 1.5rem;
}

// thumbnail hover
.hoverImage{
    position: relative;
    .hoverBg{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.25);
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    &:hover .hoverBg{
        opacity: 1;
    }
}


// title deco
.shortLine {
    width: 1.25rem;
    height: 2px;
    display: block;
    background: $gridone;
}

.longLine {
    width: 7rem;
    height: 2px;
    display: block;
    background: $gridone;
}