// settings
$enable-negative-margins: true;
$variable-prefix: gr-;

// options
$enable-rounded: true;


// Color system

$white: #fff;
$gray-100: #f7f7f7;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
);

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6c63ff;
$pink: #d63384;
$red: #a4373a;
$orange: #f08300;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0091b7;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
);

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $black;
$gridone: $orange;
$hypai: $purple;

// for IE compatible
.text-gridone {
    color: $gridone;
}

$theme-colors: map-merge(
    $colors,
    (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
        "gridone": $gridone,
        "hypai": $hypai,
    )
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 6,
    8: $spacer * 8,
    9: $spacer * 9,
    10: $spacer * 10,
    15: $spacer * 15,
    20: $spacer * 20,
    25: $spacer * 25,
    30: $spacer * 30,
);

$body-color: $gray-900;
$link-color: $gridone;

$grid-gutter-width: 2rem;

// Fonts
$font-family-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-weight-extra: 800;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * 0.75;
$h8-font-size: $font-size-base * 0.5;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $h7-font-size,
    8: $h8-font-size,
);

//

$legend-margin-bottom: 0;
$legend-font-size: $h5-font-size;
$legend-font-weight: bold;

// Border
$border-color: $gray-300;

$border-radius: 0.5rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;
$border-radius-xxl: 3rem;
$border-radius-pill: 50rem;

// Shadow
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1.5rem 3rem rgba($black, 0.1);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

// Component
$component-active-color: $white;
$component-active-bg: $gridone;

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// Grid
$grid-row-columns: 8;

// Buttons + Forms
$input-btn-focus-width: 1;

$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius-sm;
$input-border-radius-lg: $border-radius;

$btn-border-radius-lg: $border-radius;

// Container padding
$container-padding-x: $grid-gutter-width * 0.5;
$border-width: 1px;
$border-widths: (
    0: 0px,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px
    );

// Cards
$card-spacer-y: $spacer * 2.5;
$card-spacer-x: $spacer * 2.5;

$card-title-spacer-y: $spacer;

$card-border-width: 0;
$card-border-radius: $border-radius;

$card-cap-padding-y: $card-spacer-y * 0.8;
$card-cap-padding-x: $card-spacer-x;

// Accordion
$accordion-button-active-bg: none;
$accordion-button-active-color: $gridone;

// Popovers

$popover-border-radius: $border-radius;

// Carousels
$carousel-indicator-width: 100%;
$carousel-indicator-height: 2px;
$carousel-indicator-bg-height: 4.25rem; // customized
$carousel-indicator-spacer: 0;
$carousel-indicator-active-bg: rgba($white, 0.5);
$carousel-indicator-active-opacity: 1;
$carousel-control-width: 15%;

$carousel-caption-width: 70%;
$carousel-caption-color: $white;
$carousel-caption-padding-y: 1.25rem;
$carousel-caption-spacer: 1.25rem;

// Navbar
$navbar-nav-link-padding-x: 1rem;

$navbar-dark-color: rgba($white, 0.75);
$navbar-dark-hover-color: rgba($white, 1);
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, 0.3);

$navbar-light-color: rgba($black, 0.75);
$navbar-light-hover-color: rgba($black, 1);
$navbar-light-active-color: rgba($black, 1);
$navbar-light-disabled-color: rgba($black, 0.3);

$nav-pills-border-radius: $border-radius-pill;
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $component-active-bg;

$nav-link-color: $body-color;

// Dropdown

$dropdown-bg: $white;
$dropdown-border-color: rgba($black, .15);

// Alert
$alert-border-radius: $border-radius-lg;
$alert-padding-y: $spacer * 1.5;
$alert-padding-x: $spacer * 1.5;
$alert-dismissible-padding-r: $alert-padding-x * 3;

// Breadcrumbs
$breadcrumb-item-padding-x: 1.5rem;
$breadcrumb-divider-color: $gray-500;
$breadcrumb-divider: quote(\F285);
$breadcrumb-divider-flipped: $breadcrumb-divider;

// List-group
$list-group-border-color: $border-color;

// ratio
$aspect-ratios: (
    "0": 0,
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "3x4": calc(4 / 3 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "9x16": calc(16 / 9 * 100%),
    "21x9": calc(9 / 21 * 100%),
    "32x9": calc(9 / 32 * 100%),
);